.container {
  background-color: #a0a0a036;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.modal {
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--border-radius);
}
.headerModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.buttonCloseModal {
  width: 20px;
  height: 20px;
  background-color: red;
  color: var(--white);
  font-size: 18px;
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;

  align-self: flex-end;
}
.buttonCloseModal:hover {
  background-color: rgb(158, 2, 2);
}
