.containerCards {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
.card {
  padding: 1rem;
  background-color: var(--gray-100);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card button {
  height: 30px;
  width: 30px;
  font-size: 1rem;
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-700);
  color: var(--white);
}
.card button:hover {
  background-color: var(--blue-900);
}
